{% if content and content['#access'] %}
	{% if region_attributes.background|trim %}
		<div{{region_attributes.background}}>
		{% endif %}
		{% if attributes|trim %}
			<div{{attributes}}>
			{% endif %}
			{% set title = content['#settings'].title %}
			{% if title.title_display and title.title_text %}
				<div class="{{ title.title_row_class }} section-title">
					<div class="{{ title.title_column_class }}">
						<{{title.title_tag|default('span')}} class="{{ title.title_class }}">{{ title.title_text }}
						</{{title.title_tag|default('span')}}>
					</div>
				</div>
			{% endif %}
			{% if region_attributes.row|trim %}
				<div{{region_attributes.row.addClass('section-content')}}>
				{% endif %}
				{% if region_attributes.first|trim %}
					<div{{region_attributes.first}}>
					{% endif %}
					{% if content.first %}
						{{ content.first }}
					{% endif %}
					{% if region_attributes.first|trim %}
					</div>
				{% endif %}
				{% if region_attributes.second|trim %}
					<div{{region_attributes.second}}>
					{% endif %}
					{% if content.second %}
						{{ content.second }}
					{% endif %}
					{% if region_attributes.second|trim %}
					</div>
				{% endif %}
				{% if region_attributes.third|trim %}
					<div{{region_attributes.third}}>
					{% endif %}
					{% if content.third %}
						{{ content.third }}
					{% endif %}
					{% if region_attributes.third|trim %}
					</div>
				{% endif %}
				{% if region_attributes.last|trim %}
					<div{{region_attributes.last}}>
					{% endif %}
					{% if content.last %}
						{{ content.last }}
					{% endif %}
					{% if region_attributes.last|trim %}
					</div>
				{% endif %}
				{% if region_attributes.row|trim %}
				</div>
			{% endif %}
			{% if attributes|trim %}
			</div>
		{% endif %}
		{% if region_attributes.background|trim %}
		</div>
	{% endif %}
{% endif %}
