{#
/**
* @file
* Template for a Block component.
*
* Available config:
* - html_tag: The HTML tag for the block.
* - utility_classes: An array of utility classes.
*/
#}
{% set classes = [
  'block',
  bundle ? 'block--' ~ bundle|clean_class,
  id ? 'block--' ~ id|replace({"_": "-"})|clean_class,
  ]|merge(utility_classes ? utility_classes : [])
%}
<div{{attributes|without('id').addClass(classes)}}>

  {{ title_prefix }}
  {% if label %}
    {% block label %}
      <h2{{title_attributes}}>{{ label }}</h2>
    {% endblock %}
  {% endif %}
  {{ title_suffix }}

  {% import _self as navbar_brand %}
  {% set utility_classes = utility_classes|join(' ') %}
  {% if path %}
    <a href="{{ path }}" class="navbar-brand  {{ utility_classes }}" aria-label="{{ text }}">
      {% if image %}
        {{ navbar_brand.image(image, width, height, alt) }}
      {% else %}
        <u>{{ text }}</u>
      {% endif %}
    </a>
  {% else %}
    <span class="navbar-brand h2 mb-0 {{ utility_classes }}" aria-label="{{ text }}">
      {% if image %}
        {{ navbar_brand.image(image, alt) }}
      {% else %}
        <u>{{ text }}</u>
      {% endif %}
    </span>
  {% endif %}
  {% macro image(src, width, height, alt) %}
    <img src="{{ src }}" width="{{ width|default(30) }}" height="{{ height|default('auto') }}" alt="{{ alt|default('') }}"/>
  {% endmacro %}

</div>
